/* @media only screen and (max-width: 600px) {
    #MQHeading {
      display:red;
    }
  } */

/*
Todo

center web div */

@media only screen and (min-width: 1280px) {
    .mQWebAll {
        display: block;
        margin-left: 15em;
        
        color: green;
        height: auto;
        position: relative;
        /* border: 3px solid green;  */
    }
    /* left page – image & buttons */
    .mQWebLeft {
        /* margin-top: -10em; */
        /* display: inline-block; */
        margin: 0;
        position: absolute;
        top: 50%;
        /* left: 20%; */
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    /* right page */
    .mQWebRight {
        display: inline-block;
        margin-right: 3em;
        /* display: none; */
    }
    .mQWebRightText {
        display: none;
    }
    .mQWebRightRadio1 {
        display: inline-block;    }
    .mQWebRightRadio2 {
        display: inline-block;    }
}

@media only screen and (max-width: 1279px) {
    .mQTabletAll {
        color: blue;
        display: block;
    }
    /* left page */
    .mQTabletLeft {
        display: none;
    }
    .mQTabletLeftImageButton {
        display: none;
    }
    .mQTabletLeftRadios {
        display: none;
    }
    /* right page */
    .mQTabletRight {
        display: none;
    }
    .mQTabletRightText {
        display: none;
    }
    .mQTabletRightRadios {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .mQPhoneAll {
        color: red;
    }
}