/* wide format */

@media only screen and (min-width: 768px) {
    .mQWebAll {
        display: inline-block;
        height: 80%;
        position: absolute;
        top: 20%;
        left: 0;
        bottom: 0%;
        right: 0;
    }
    /* left page – image & buttons */
    .mQWebLeft {
        display: inline-block;
        margin: 0 0em 0 0;
        transform: translate(-0%, -50%);
    }
    /* right page */
    .mQWebRight {
        display: inline-block;
    }
    .mQWebRightText {

    }
    .mQWebRightRadio1 {
        display: inline-block;
    }
    .mQWebRightRadio2 {
        display: inline-block;
    }
}

.radios {
    margin: 0 0 1.2em 0;
}

/* @media only screen and (max-width: 1279px) {
    .mQTabletAll {

    }
    
    .mQTabletLeft {

    }
    .mQTabletTopImageButtonNameText {

    }
    .mQTabletLeftRadios {

    }
    .mQTabletRight {

    }
    .mQTabletRightText {

    }
    .mQTabletRightRadios {

    }
} */

/* narrow format */

@media only screen and (max-width: 767px) {
    .mQPhoneAll {
    }
    .mQWebLeft {

    }
    .mQWebRight {
        height: 20.8em;
    }
    #header {
        margin: 0 0 0 0
    }
    .radios {
        margin: 0 0 2em 0;
        height: 25.7em;
    }
}